.SearchEngine {
  border: 1px solid #dadde1;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.SearchEngine form {
  margin-bottom: 20px;
}

.SearchEngine h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  opacity: 0.4;
}

.SearchEngine ul {
  margin: 0;
  padding: 0;
}

.SearchEngine li {
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.SearchEngine .temperature {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: 10px;
}

.SearchEngine .unit {
  font-size: 16px;
  position: relative;
  top: -8px;
}
